@{
    ViewData["Title"] = "Home Page";
}
<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="banner-content col-lg-6 col-md-6">
                <h1>
                    Improved <br>
                    Production level <br>
                    with Robotics
                </h1>
                <p class="text-white text-uppercase">
                    Everyone wants the innovation through robotics
                </p>
                <a asp-controller="Users" asp-action="Register" class="primary-btn header-btn text-uppercase">Get Started</a>
            </div>
            <div class="banner-img col-lg-6 col-md-6">
                <img class="img-fluid" src="img/banner-img.png" alt="">
            </div>
        </div>
    </div>
</section>
