@model ICollection<SubAssemblyOutputModel>


<div class="table-responsive">
    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Weight</th>
                <th>TotalPrice</th>
                <th class="sorting_asc_disabled sorting_desc_disabled">Add Part</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Weight</th>
                <th>TotalPrice</th>
                <th class="sorting_asc_disabled sorting_desc_disabled">Add Part</th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var subAssembly in Model)
            {
                <tr>
                    <td>@subAssembly.Name</td>
                    <td>@subAssembly.Quantity</td>
                    <td>@subAssembly.Weight KG</td>
                    <td>$@subAssembly.TotalPrice</td>
                    <td><a asp-controller="Part" asp-action="Create" asp-route-subAssemblyId="@subAssembly.Id" class="btn btn-success"><i class="fa fa-plus-square"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>