@using RobotsWorld.Services.Contracts
@model PartInputModel
@inject IVendorService VendorService
@{
    ViewData["Title"] = "Create Part";
    var error = ViewData[GlobalConstants.ModelError];
    var subAssemblyId = ViewData[GlobalConstants.SubAssemblyId].ToString();
    var allVendorNames = VendorService.GetAllVendorNames();
}

<section class="banner-area" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <h2 class="d-flex justify-content-center text-light">@ViewData["Title"]</h2>
                <hr class="h2" />
                <form enctype="multipart/form-data" class="mx-auto" asp-controller="Part" asp-action="Create" method="post">
                    @if (error != null)
                    {
                        <p class="text-danger">@error</p>
                    }
                    <div class="form-group text-center">
                        <label asp-for="Name" class="text-center text-light"></label>
                        <input asp-for="Name" class="form-control" placeholder="Name..." />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label asp-for="Quantity" class="text-center text-light"></label>
                        <input asp-for="Quantity" class="form-control" placeholder="Quantity..." />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <label asp-for="Price" class="text-center text-light"></label>
                        <input asp-for="Price" class="form-control" placeholder="Price..." />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <select asp-for="VendorName" class="browser-default custom-select custom-select-lg mb-3">
                            <option disabled selected>---Select Vendor---</option>
                            @foreach (var vendor in allVendorNames)
                            {
                                <option>@vendor</option>
                            }
                        </select>

                    </div>
                    <input type="hidden" value="@subAssemblyId" asp-for="SubAssemblyId" />

                    <hr class="h2" />

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-info">Create</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>